html {
    background: 
    linear-gradient( #000000, #1b1b1b);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header img {
    width: 82px;
    height: 76px;
}

.container_pricipal {
    display: flex;
    gap: 10px;
}

.container {
    width: 20rem;
    height: 5rem;
    text-align: center;
    justify-content: space-between;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.camara {
    width: 38px;
    height: 38px;
    
}

.python {
    width: 101px;
    height: 101px;
}

.html {
    width: 38px;
    height: auto;
}

.CSS {
    width: 38px;
    height: auto;
}

.JS {
    width: 38px;
    height: auto;
    border-radius: 5px;
}

.container_botones {
    margin-top: 20px;
    border: white;
}

.info_user {
    background: #d9d9d927;
    color: white;
}

.container_python {
    background: #aac8ff46;
    color: white;

}

.container_html {
    background: #ff693c75;
    color: white;
}

.container_CSS {
    background: #00437A;
    color: white;
}

.container_JS {
    background: #ffc4004f;
    color: white;
}