.user-section {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 12px;
    border-radius: 14px;
    border: none;

    background: 
    linear-gradient(145deg, #1a1a1a, #222);
    cursor: pointer;
    transition: 0.2s ease;
    color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.user-section:hover {
    background: #2a2a2a;
}

/* IMAGEN */

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* LOGOS */

.logo {
    width: 65px;
}

.logo-python {
    width: 40px;
}

.logo-html {
    width: 40px;
}

.logo-css {
    width: 40px;
}

.logo-javascript {
    width: 40px;
    border-radius: 8px;
}

